body {
    background-color: rgb(238, 238, 238);
}

.card {
    display: table-cell;
    margin-top: 60px;
    margin-left: 15%;
    margin-right: 15%;
    height: 940px;
    width: max-content;
    border-radius: 5%;
    background-color: whitesmoke;
    box-shadow: 12px 12px 2px 1px rgb(105, 105, 105) opacity transparent;
}

.card button {
    background-color: #4CAF50;
}

.card-img-top {
    height: max-content;
}

.card-body {
    display: grid;
    justify-content: center;
}